:root {
    --root-bg: var(--color-neutral);
    --cursor-color: var(--color-base-100);
}

::selection {
    background-color: var(--color-base-100);
    color: var(--color-base-content);
}

.hovergrow {
    transition: transform 0.5s;
}

.hovergrow:hover {
    transform: scale(1.08);
}

.logorecolor {
    filter: invert(98%) sepia(50%) saturate(487%) hue-rotate(319deg) brightness(99%) contrast(87%);
}